.message{
    margin: 20px;
    display: flex;
    align-items: center;
    position: relative;
    width: fit-content;
    justify-content: space-between;
}
.message > p {
    background-color: lightgray;
    font-size: 0.9rem;
    padding: 15px;
    border-radius: 25px;
    margin: 10px;
    margin-right: auto;
}
.message > small {
    color: gray;
    position: absolute;
    bottom: 1px;
    right: 0;
    font-size: x-small;
}
.message__sender{
    margin-left: auto;
}
.message__sender > p {
    background-color: #a4b787;
}
.message__sender > .message__photo{
    order: 1;
    margin: 15px;
}
.message__photo{
    order: 0;
}

